@model RMS.Model.viewModes.CategoryDTOs
@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>
<form method="post">
    @Html.HiddenFor(x => x.CategoryID)
    <table class="table">
        <tr>
            <td>Category Name</td>
            <td>@Html.TextBoxFor(x => x.CategoryName)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save" /></td>
        </tr>
    </table>
</form>
