@model List<RMS.Model.viewModes.CategoryDTOs>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <a href="/category/create">Create</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>
                    <ul>
                        <li><a href="/Customer/Details/@category.CategoryID">Details</a> </li>
                        <li><a href="/Customer/Edit/@category.CategoryID">Edit</a></li>
                        <li><a href="/Customer/Delete/@category.CategoryID">Delete</a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

